:root {
    --primary-color: purple;
    --secondary-color: blue;
    --shadow-color: black;
}

$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$shadowColor: var(--shadow-color);
$navbarHeight: 50px;
