@import '@helpers/vars.scss';

:export {
    navbarHeight: $navbarHeight;
}

.active {
    color: $primaryColor !important;
    border-bottom: 5px solid $primaryColor;
}

.navbar {
    background-color: $secondaryColor;
    box-shadow: 0 0 10px 0px $shadowColor;
    height: $navbarHeight;
    list-style: none;
    margin: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100vw;

    li {
        display: inline-block;
        cursor: pointer;
    }

    a {
        color: white;
        display: block;
        font-weight: bold;
        height: $navbarHeight;
        line-height: $navbarHeight;
        padding: 0 1rem;
        text-decoration: none;

        &:hover {
            @extend .active;
        }
    }
}
